/* global styles */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

del {
    color: #a6a4af;
}

/* Headings - Desktop */
.bold {
    font-weight: 700;
}

h1 {
    font-size: 54px;
    font-weight: 700; /* Bold */
    line-height: 1.6em;
}

h1.medium {
    font-weight: 500; /* Medium */
}

h2 {
    font-size: 48px;
    font-weight: 700; /* Bold */
}

h3 {
    font-size: 36px;
    font-weight: 600; /* SemiBold */
}

h4 {
    font-size: 24px;
    font-weight: 500; /* Medium */
}

h5 {
    font-size: 20px;
    font-weight: 600; /* SemiBold */
    line-height: 2em;
}

h6 {
    font-size: 16px;
    font-weight: 500; /* Medium */
}

/* Paragraph Styles */
.p1 {
    font-size: 20px;
    font-weight: 500; /* Medium */
}

.p2 {
    font-size: 18px;
    font-weight: 400; /* Regular */
}

.p3 {
    font-size: 16px;
    font-weight: 400; /* Regular */
}

.p4 {
    font-size: 14px;
    font-weight: 400; /* Regular */
}

.p5 {
    font-size: 12px;
    font-weight: 400; /* Regular */
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
        font-weight: 700; /* Bold */
    }

    h1.medium {
        font-size: 36px;
        font-weight: 500; /* Medium */
    }

    h2 {
        font-size: 36px;
        font-weight: 700; /* Bold */
    }

    h3 {
        font-size: 28px;
        font-weight: 600; /* SemiBold */
    }

    h5 {
        font-size: 18px;
        font-weight: 600; /* SemiBold */
    }

    h6 {
        font-size: 14px;
        font-weight: 500; /* Medium */
    }

    .p1 {
        font-size: 18px;
    }

    .p2 {
        font-size: 16px;
    }

    .p3 {
        font-size: 14px;
    }

    .p4 {
        font-size: 12px;
    }

    .p5 {
        font-size: 10px;
    }
}

/* pricing section */
section.pricing {
    position: relative;
    padding: 100px 0px 4rem;
}

.pricing > .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.pricing .pricing-heading {
    position: relative;
}

.pricing .pricing-heading::before {
    content: url("./assets/shape-1.png");
    position: absolute;
    top: -3rem;
    left: -5rem;
}

.pricing .pricing-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.pricing .p2 {
    color: #696774;
}

.pricing .p1 {
    color: #1e1e1e;
}

.pricing .descriptions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pricing select.class-type {
    height: 4rem;
    background: #ffffff;
    padding: 0px 1rem;
    border: 2px solid #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
}

.pricing .features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pricing figure {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pricing figure .p2 {
    color: #1e1e1e;
}

.pricing .membership-tier {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 1.25rem;
}

.pricing .membership-tier::before {
    content: url("./assets/shape-2.png");
    position: absolute;
    top: -1.5rem;
    left: -2rem;
}

.pricing .membership-tier button {
    width: 50%;
    text-align: left;
    line-height: 2em;
    color: #696774;
    background: #ffffff;
    padding: 1.5rem 0.75rem 1.5rem 1.25rem;
    border: 2px solid #999999;
    padding-bottom: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
    cursor: pointer;
}

.membership-tier button h5 {
    margin-bottom: 1rem;
    line-height: inherit;
    color: #1e1e1e;
}

.membership-tier button.active {
    border: 2px solid #ff5913;
}

/* pricing right */
.pricing .pricing-right {
    width: 50%;
    position: relative;
}

.pricing .pricing-right::before {
    content: url("./assets/shape-3.png");
    position: absolute;
    bottom: 1.5rem;
    right: -3rem;
}

.pricing .plans-box {
    border-radius: 1.5rem;
    background: #f7f4ee;
    border: 1px solid #dbdbde;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.plans-box .p3 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.pricing .plan {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #1e1e1e;
    border: 2px solid #d9d9d9;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1.5rem;
}

.pricing .plan:hover {
    border: 2px solid #ff5913;
    transition: 0.25s;
}

.plan .plan-title {
    display: flex;
    gap: 1.5rem;
    text-align: left;
    align-items: center;
}

.plan .circle {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    box-sizing: border-box;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
}

.plan.selected .circle {
    border: 0.5rem solid #ff5913;
    transition: 0.25s;
}

.plan .p2 {
    padding-top: 0.5rem;
    color: #1e1e1e;
    font-weight: 600;
    display: inline;
}

.plan-price {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.plan-price > div {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#threeMonths .plan-price > div,
#sixMonths .plan-price > div {
    text-align: center;
    display: block;
    width: 52%;
}

.plan-price .p3 {
    color: #696774;
    font-weight: 500;
    margin: 1rem 0px 0px -1rem;
}

#threeMonths .p3,
#sixMonths .p3 {
    margin: 0rem;
    display: inline-block;
}

.plan .plan-discount {
    height: 2rem;
    width: 5.7rem;
    background: linear-gradient(180deg, #fc612c 0%, #f8c69f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1.17455px 2.34909px rgba(16, 24, 40, 0.05);
    border-radius: 32px;
    color: white;
}

#sixMonths .plan-discount {
    background: linear-gradient(2.79deg, #1dd3b0 36.07%, #03ad8c 66.55%);
}

.pricing .plan.selected {
    border: 2px solid #ff5913;
}

.plans-box .buy {
    cursor: pointer;
    width: 100%;
    background-color: #ff5913;
    border-radius: 50px;
    border: 0px;
    padding: 1rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.pricing .ssl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.ssl .p3 {
    margin: 0px;
    color: #4a525e;
}

.pricing .review {
    padding: 2.5rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
